<style>
body {
  background-color: black;
  color: white;
}
</style>
<div class='Sign_up_info'>
<div id="wrapper" style="text-align: center">
    <div id="yourdiv" style="display: inline-block;"></div>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div>
    <%= f.submit "sign up", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
