<style>
  body {
      background: url('http://wallpapercave.com/wp/CBlPtWd.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
</style>


<h1 class='text-center text-danger'>Welcome to your new game</h1>

<div class='team'>
    <% if @game.players.empty? %>
        <h3 class="text-danger">There are no players for this game, you need to add one.</h3>
    <% else %>
        <table class="table">
            <tr class="active">
                <th>Player Name</th>
            </tr>
            <% @game.players.each do |player| %>
                <tr class="active">
                    <td><%= player.name %></td>
                </tr>
            <% end %>
        </table>

        <div class="btn btn-primary add-play">
            <h3>Lets Play</h3>
        </div>
    <% end %>
    <hr>
    <div class="btn btn-primary add-click">
        <h3>Add New Player</h3>
    </div>
   

    <div class="add-player panel panel-default hidden">
    <div class="panel-heading">
        <h3 class="panel-title">Add New Player</h3>
    </div>
    <div class="panel-body">
        <%= form_for [@game, @player] do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.submit %>
        <% end %>
    </div>
    </div>
</div>

